@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/

nav, .main, .barra-categorias{
    width: 85%;
}

#primeraBarra .menu-izquierdo a{
    font-size: 14px;
    font-weight: bold;
    width: 25%;
    color: #000000;
    text-decoration: none;
}

.barra-categorias .menu-izquierdo .categoria:hover{
    background-color: #141d25;
}

.barra-categorias .menu-izquierdo .categoria a:hover{
    text-decoration: none;
}

.barra-categorias .menu-izquierdo .categoria .menu{
    bottom: -1;
    width: 300px;
    padding: 20px;
}

.barra-categorias .menu-izquierdo .categoria:hover .menu{
    display: block !important;
}

.barra-categorias .menu-izquierdo .categoria .menu a:hover{
    color: #c00 !important;
}

.text-danger{
    color: #c00 !important;
}

.btn-danger, .bg-danger{
    background-color: #c00 !important;
}

.search{
    width: 35%;
}

/*MAIN*/

.comercial{
    height: 13.5vh;
}

.comercial-dibujo{
    width: 900px;
    height: 110px;
}

.barra-equipos .equipos{
    width: 85%;
    margin: 0 auto;
}

.nombreAgenda{
    font-size: 20px;
}

.enDirecto, .loMejor{
    width: 40%;
}

.enDirecto .titulo, .loMejor .titulo{
    font-size: 13px;
    width: 30%;
}

.enDirecto .info, .loMejor .info{
    font-size: 13px;
    width: 70%;
}

.verMasDirectos a:hover{
    cursor: pointer;
}

.primer-seccion-notas{
    margin-top: 100px;
}

.notaPrincipal a{
    color: #fff;
}

.tipoNota{
    font-size: 12px;
    top:0;
    left:0;
}

.descripcionNota{
    bottom:30px;
    left: 20px;
}

.descripcionNota:hover{
    text-decoration: underline;
}

.tituloNota{
    font-size: 45px;
}

.subtituloNota{
    font-size: 18px;
}

.autor-comentarios{
    padding: 0;
}

.autor-comentarios .autor, 
.autor-comentarios .comentarios,
.fa-comment-alt{
    font-size: 12px;
    color: #4a4a4a;
}

.autor-comentarios .comentarios:hover .fa-comment-alt,
.autor-comentarios .comentarios:hover{
    color: #c00 !important;
    cursor: pointer;
}

.notasDerecho .nota .descripcionNota,
.tercer-seccion-notas .nota .descripcionNota{
    top: 0;
}

.notasDerecho .nota .descripcionNota:hover,
.tercer-seccion-notas .nota .descripcionNota:hover{
    text-decoration: none;
}

.notasDerecho .nota .descripcionNota .tipoNota,
.tercer-seccion-notas .nota .descripcionNota .tipoNota{
    font-size: 14px;

}

.notasDerecho .nota .descripcionNota .tituloNota,
.tercer-seccion-notas .nota .descripcionNota .tituloNota{
    font-size: 16px;
    color: #000;
}

.notasDerecho .nota .descripcionNota:hover .tituloNota,
.tercer-seccion-notas .nota .descripcionNota:hover .tituloNota{
    color: #888888 !important;
    text-decoration: none;
}

.segunda-seccion-notas .nota{
    width: 30%;
}

.segunda-seccion-notas .nota a{
    color: #000;
}

.segunda-seccion-notas .nota .tipoNota{
    font-size: 12px;
    color: #fff;
    top:0;
    left:0;
}

.segunda-seccion-notas .nota:hover .descripcionNota:hover .tituloNota{
    color: #888888 !important;
    text-decoration: none !important;
}

.segunda-seccion-notas .nota .tituloNota{
    font-size: 20px;
}

.segunda-seccion-notas .nota .autor-comentarios .autor{
    font-size: 12px;
    color: #4a4a4a;
}

.tercer-seccion-notas .nota{
    width: 25%;
}

/*FOOTER*/

footer .superior .titulo{
    font-size: 18px;
    color: #fff;
    text-align: center;
}

footer .superior .contenido .subtitulo{
    color: #fff;
}

footer .superior .contenido ul{
    list-style-type: none;

}

footer .superior .contenido ul li a{
    text-decoration: none;
    color: #fff;
}

footer .superior .contenido ul li a:hover{
    color: #888888;
}

footer .inferior .redes-sociales .red{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

footer .inferior .redes-sociales .facebook{
    background-color: #3b5998;
}

footer .inferior .redes-sociales .twitter{
    background-color: #1da1f2;
}

footer .inferior .redes-sociales .google-plus{
    background-color: #dd4b39;
}

footer .inferior .redes-sociales .rss{
    background-color: #f26522;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
    /*HEADER*/
    #primerMenu{
        padding: 10px 0;
    }
    
    #primeraBarra .menu-izquierdo a .descripcionRadio{
        margin-right: 3px !important;
    }

    #primeraBarra .menu-izquierdo a .descripcionLigaF{
        padding-left: 10px !important;
    }

    .btnSuscribete{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .search{
        width: 30%;
    }

    /*MAIN*/
    .enDirecto, .loMejor{
        width: 38%;
        margin-top: 10px;
    } 
}

@media screen and (max-width: 888px) {
    /*HEADER*/
    .search{
        width: 100%;
    }

    /*MAIN*/
    .enDirecto, .loMejor{
        width: 100%;
        margin-top: 10px;
    } 
}

@media screen and (max-width: 770px){
    /*HEADER*/
    #primeraBarra .menu-izquierdo a{
        width: 50%;
    }

    .barra-categorias .menu-izquierdo .categoria .menu{
        width: 160px;
        z-index: 100;
    }

    /*MAIN*/
    .comercial{
        height: 7.5vh;
    }

    .primer-seccion-notas{
        margin-top: 20px;
    }
    
    .tituloNota{
        font-size: 20px;
    }
    .subtituloNota{
        font-size: 12px;
    }

    .descripcionNota{
        bottom:50px;
        left: 20px;
    }

    .segunda-seccion-notas .nota,
    .tercer-seccion-notas .nota{
        width: 100%;
        justify-content: center;
    }
}