@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    font-family: 'Roboto', sans-serif;
}

nav, .main{
    width: 85%;
}

#primerMenu .menu-izquierdo li{
    font-size: 14px;
}

.text-danger{
    color: #c00 !important;
}

.btn-danger, .bg-danger{
    background-color: #c00 !important;
}

.search{
    width: 35%;
}

.comercial-dibujo{
    width: 728px;
    height: 90px;
}

.nombreAgenda{
    width:10%;
    font-size: 14px;
}

.enDirecto .titulo, .loMejor .titulo{
    font-size: 13px;
    width: 30%;
}

.enDirecto .info, .loMejor .info{
    font-size: 13px;
    width: 70%;
}